 <form action="admin-login" method="post" class="hero-form">
    <h1 style="margin:0 0 14px 0px ">Admin Login</h1>
    <input name="adminName" type="text"  />
    <input name="adminPassword" type="text"  />
    <button type="submit" class="hero-edit-btn">Login</button>
</form>