<div class="container">
<!-- Navbar -->
        <nav>
            <div class="logo">Admin</div>
            <ul class="list">
               <a href="/"><li>home</li></a> 
               <a href="#viewTable"><li class="ll">gallery</li></a> 
               <a href="/admin/logout"><li>Logout()</li></a> 
               
            </ul>
        </nav>